@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.advertisements {
  grid-area: advertisements;
  background: $c1;

  .item-ads {
    display: grid;
    align-content: flex-start;
    gap: 0.625rem;

    @include respond-to(tablet) {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
  }
}
