@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.sidenav {
  grid-area: sidenav;
  background: $c1;

  .list-sidenav {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    @include respond-to(mobile) {
      display: flex;
      gap: 1rem;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    li {
      background: $c0;
      margin-bottom: 1rem;
      padding: 1.2rem;
      width: 100%;
      aspect-ratio: 1 / 1;
      box-shadow: $shadow;
      border-radius: $radius;
      max-width: 120px;
      min-height: 60px;
      transition: 0.3s ease-in-out;

      &:hover {
        background: $secondary;
      }

      @include respond-to(mobile) {
        flex: 0 0 auto;
      }
    }
  }
}
