body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Vollkorn", Georgia, serif;
  scroll-behavior: smooth;
  color: #19191a;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  background: none;
  outline: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 0.25rem;
}

.grid-structure {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr minmax(250px, 1fr);
  grid-template-areas: "header header header" "sidenav content advertisements" "footer footer footer";
}
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-structure {
    grid-template-areas: "header header header" "sidenav content content" "sidenav advertisements advertisements" "footer footer footer";
  }
}
@media (max-width: 767.98px) {
  .grid-structure {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "sidenav" "content" "advertisements" "footer";
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
@media (max-width: 767.98px) {
  .container {
    padding: 1.25rem 1rem;
  }
}

.button {
  font-size: clamp(1rem, 2.1vw, 1.25rem);
  display: block;
  background: #8844ee;
  color: #f5f7fa;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.625rem auto;
  text-align: center;
  transition: 0.3s ease, transform 0.3s ease;
}
.button:hover {
  transform: scale(1.05);
}

.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}
@media (max-width: 767.98px) {
  .header {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0.5rem;
  }
}
.header .logo {
  max-width: 200px;
  height: auto;
  align-self: center;
}
.header .list-menu {
  width: 0%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  color: #f5f7fa;
}

.sidenav {
  grid-area: sidenav;
  background: #f5f7fa;
}
.sidenav .list-sidenav {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
@media (max-width: 767.98px) {
  .sidenav .list-sidenav {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
  }
}
.sidenav .list-sidenav li {
  background: #ffffff;
  margin-bottom: 1rem;
  padding: 1.2rem;
  width: 100%;
  aspect-ratio: 1/1;
  box-shadow: 0.25rem 1rem 1rem rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
  max-width: 120px;
  min-height: 60px;
  transition: 0.3s ease-in-out;
}
.sidenav .list-sidenav li:hover {
  background: #b07dfb;
}
@media (max-width: 767.98px) {
  .sidenav .list-sidenav li {
    flex: 0 0 auto;
  }
}

.content {
  grid-area: content;
}

.advertisements {
  grid-area: advertisements;
  background: #f5f7fa;
}
.advertisements .item-ads {
  display: grid;
  align-content: flex-start;
  gap: 0.625rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .advertisements .item-ads {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

.footer {
  grid-area: footer;
  font-size: clamp(1rem, 2.1vw, 1.25rem);
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  color: #f5f7fa;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
