@use "variables" as *;

@mixin font-clamp($size) {
  @if $size == x-small {
    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  } @else if $size == small {
    font-size: clamp(0.875rem, 2vw, 1rem);
  } @else if $size == medium {
    font-size: clamp(1rem, 2.1vw, 1.25rem);
  } @else if $size == large {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
  } @else if $size == x-large {
    font-size: clamp(1.5rem, 3vw, 2rem);
  } @else if $size == xx-large {
    font-size: clamp(2rem, 4vw, 2.5rem);
  } @else {
    @warn "Tamanho não definido! Use: x-small, small, medium, large, x-large, ou xx-large.";
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 767.98px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }
}
