$c0: #ffffff;
$c1: #f5f7fa;
$c2: #e1e3e5;
$c3: #a5a6a8;
$c4: #555657;
$c5: #414142;
$c6: #2d2d2e;
$c7: #19191a;

$primary: #8844ee;
$secondary: #b07dfb;

$radius: 0.25rem;
$shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.05);
$margin: 0.625rem;
$width: 100%;
